/*default normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #414141;
}

.section-outer {
  padding-right: 20px;
  padding-left: 20px;
}

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
}

.description-item__icon {
  margin-bottom: 20px;
}
.description-item__title {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.description-item__content {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #6c6c6c;
}

.btn-main {
  color: #fff;
  padding: 16px 20px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: linear-gradient(90deg, #fe985B, #fe4fa7);
}
.btn-main:hover {
  background: linear-gradient(90deg, #db7b43, #dd4390);
}

.btn-secondary {
  color: #fff;
  padding: 16px 20px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #414141;
  background: #fff;
  color: #414141;
  transition: 0.2s;
}
.btn-secondary:hover {
  color: #dd4390;
  border-color: #dd4390;
}

.btn-free {
  color: #fff;
  padding: 16px 20px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  border: none;
  background: #fff;
  color: #414141;
}
.btn-free:hover {
  background: rgba(255, 255, 255, 0.6);
}

.section-header {
  color: #ffffff;
  background: url("../img/background-main.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  display: block;
}
.section-header .section-inner {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.section-header::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(14, 27, 29, 0.65);
}
.section-header-logo {
  padding-top: 35px;
  font-weight: bold;
  font-size: 24px;
  flex-shrink: 1;
}
.section-header-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.section-header-wrapper {
  margin: 0 auto;
}
.section-header-wrapper__title, .section-header-wrapper__subtitle {
  text-align: center;
}
.section-header-wrapper__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 16px;
}
.section-header-wrapper__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 32px;
  width: 65%;
  margin: 0 auto 44px;
}
.section-header-wrapper__form {
  display: flex;
}
.section-header-wrapper__form-input {
  flex: 1;
}
.section-header-wrapper__form-input input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  margin: 0;
  padding: 16px 20px;
  outline: none;
  border-radius: 4px;
  width: 100%;
  transition: 0.2s;
}
.section-header-wrapper__form-input input::placeholder {
  color: #fff;
}
.section-header-wrapper__form-input input:focus {
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 575px) {
  .section-header-wrapper__form {
    flex-direction: column;
  }
  .section-header-wrapper__form-input {
    margin-bottom: 10px;
  }
  .section-header-wrapper__form-button {
    flex: 1;
  }
}
@media (min-width: 576px) {
  .section-header-wrapper__form-input {
    margin-right: 40px;
  }
}

.section-info {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-info-first {
  display: flex;
}
.section-info-first__content, .section-info-first__video {
  flex-basis: 50%;
}
.section-info-first__content .title {
  font-size: 36px;
  line-height: 51px;
  font-weight: bold;
  margin-bottom: 56px;
}
.section-info-first__content .description-item {
  margin-top: 28px;
}
.section-info-first__video-inner {
  height: 80%;
  position: relative;
  display: grid;
}
.section-info-first__video-inner iframe {
  margin: 7% auto;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.section-info-first__video-inner button {
  margin: 33% 41%;
  background: none;
  position: absolute;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .section-info-first {
    flex-direction: column;
  }
  .section-info-first__video {
    order: -1;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .section-info-first__content {
    padding-right: 90px;
  }
}

.section-info-secondary {
  display: flex;
  padding-top: 86px;
  margin-top: 120px;
  border-top: 1px solid #e2e2e2;
  text-align: center;
}
@media (max-width: 575px) {
  .section-info-secondary {
    flex-direction: column;
  }
  .section-info-secondary .description-item + .description-item {
    margin-top: 30px;
  }
}
@media (min-width: 576px) {
  .section-info-secondary .description-item + .description-item {
    margin-left: 40px;
  }
}

.section-info2 {
  background-color: #f6fafd;
  padding-top: 34px;
}
.section-info2 .section-inner {
  display: flex;
}
.section-info2__content-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 30px;
}
.section-info2__content-name {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}
.section-info2__content-post {
  font-size: 20px;
  line-height: 29px;
}
@media (max-width: 767px) {
  .section-info2 .section-inner {
    flex-direction: column;
  }
  .section-info2__content {
    order: -1;
    margin-bottom: 40px;
  }
  .section-info2__img img {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .section-info2__img {
    align-self: flex-end;
  }
  .section-info2__content {
    align-self: center;
    padding-left: 50px;
  }
}

.section-tarifes {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.section-tarifes__title {
  font-size: 39px;
  line-height: 51px;
  font-weight: bold;
}
.section-tarifes__subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 80px;
}
.section-tarifes__list {
  display: flex;
  justify-content: center;
}
.section-tarifes__list-item {
  flex-basis: 370px;
  padding: 60px 45px;
}
.section-tarifes__list-item_title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.section-tarifes__list-item_price {
  margin-bottom: 26px;
}
.section-tarifes__list-item_price .prefix {
  color: #fe4fa7;
  font-size: 72px;
  line-height: 86px;
  font-weight: bold;
}
.section-tarifes__list-item_price .postfix {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
}
.section-tarifes__list-item_description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 50px;
}
.section-tarifes__list-item.active {
  background-color: #f6fafd;
}
@media (max-width: 575px) {
  .section-tarifes__list {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .section-tarifes__subtitle {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.section-start {
  text-align: center;
  color: #fff;
  background: linear-gradient(90deg, #fe985B, #fe4fa7);
}
.section-start__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 26px;
}
.section-start__description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 40px;
}
@media (min-width: 992px) {
  .section-start {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-start__description {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .section-start {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-footer__logo {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-footer__nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 75px;
}
.section-footer__nav li a {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
  text-decoration: none;
  transition: 0.2s;
}
.section-footer__nav li a:hover, .section-footer__nav li a.active {
  color: #fe50a6;
}
@media (max-width: 575px) {
  .section-footer__nav {
    flex-direction: column;
    text-align: center;
  }
  .section-footer__nav li + li {
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  .section-footer__nav li + li {
    margin-left: 60px;
  }
}
.section-footer__copy_links {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .section-footer__copy_links {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .section-footer__copy_links {
    width: 60%;
    margin: 0 auto;
  }
}

.helper-link {
  margin: 0;
  padding: 0;
  list-style: none;
}
.helper-link li + li {
  margin-left: 20px;
}
.helper-link li a {
  color: #464646;
  text-decoration: none;
}
.helper-link li a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .helper-link {
    display: inline-flex;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .helper-link {
    display: flex;
  }
}